{% extends "base.html" %} {% block title %}Cotação{% endblock %} {% block content
    %}
    <h1 align="center" style="padding-top: 30px; padding-bottom: 30px;">Cotação</h1>

  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title">Latinha de alumínio</h5>
          <p class="card-text">R$5,00 / kg </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title">Garrafa Pet</h5>
          <p class="card-text">R$1,20 / kg </p>
        </div>
      </div>
    </div>
  </div>
    
    {% endblock %}